.container {
    height: 100px;
    max-width: 100%;
    display: flex;
    /*Horizontal align*/
    justify-content: space-around;
    /*Vertical align*/
    align-items: center;

}
.logo {
    height: 50px;
    text-align: right;
    flex-grow: 0.5;
}
.nav1 {
    padding: 10px 10px 10px 10px;
    flex-grow: 1;

}
.nav1 .boxtext {
    float: center;
    height: 35px;
    border-radius: 5px;
}
.nav1 .icon1 {
    background-color: rgb(72, 72, 240);
    height: 40px;
    border-radius: 5px;
    position: relative; left: 5px; top: 9px;

}
.nav2 {
    flex-basis: 300px;
    height: 100%;
    text-align: center;
    flex-grow: 0.5;
    
}
.nav2 .icon2 {
    border: 2px solid blue;
    aborder: 1px solid gray;
    float: left;
    height: 40px;
    border-radius: 50px;

}
.nav2 h5 {
    height: 30px;
    aposition: relative; left: 84px; bottom: 38px;

}
.nav2 a {
    float: center;
    aposition: relative; right: 68px; bottom: 55px;
}

.container2 {
    background-color: rgb(250, 244, 244);
    display: flex;
    height: 100px;
    justify-content: center;
}
.head1 {
    width: 30%;
    height: 100px;
    text-align: center;
    
}
/*----------------------------------------------------------*/
/*Page-Content*/

.content {
    border: 2px solid blue;
    max-width: 80%; 
    display: flex;
    margin-left: 180px;
    margin-top: 30px;
}

.content1 {
    border: 2px solid rgb(235, 225, 225);
    width: 60%;
}

/*table-css*/
.table1 tr, th ,td {

}
.table1 .prod {
    text-align: left;
}
.table1 .top {
    color: #aaa;
}
img.image1 {
    float: left;
}
.table1 .th1 {
    width: 50%;
}
.table1 .th1-img {
    min-width: 200px;
    float: left;
    margin-right: 10px;
}
.table1 .text1-row{
    float: left;
}
.table1 .text2-row{
    color: #aaa;
    font-size: 80%;
    float: left;
    margin-top: 10px;
    width: 55%;
}

/*Quantybox*/
.table1 .quant-box {
    text-align: center;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 50px;
}

/*pricebox*/
.table1 .price {
    margin-bottom: 70px;
    text-align: center;
}

/*favoritebox*/
.table1 .favorite-box{
    width: 30%;
}
.table1 .favorite {
    margin-bottom: 50px;
    text-align: right;
}
.table1 .but {
    width: 38px;
    height: 34px;
    margin-right: 8px;
    background-color: white;
    border: 1px solid rgb(192, 182, 182);
    border-radius: 5px;
}
.table1 .remove {
    height: 34px;
    float: right;
    border-radius: 5px;
}
/*End-table1-css*/

/*content2*/
.side-content {
    border: 2px solid black;
    width: 25%;
    margin-left: 50px;
}

/*Footer*/
.bottom-box {
    height: 50px;
    border: 2px solid rgb(235, 225, 225);
    width: 48%;
    margin-left: 180px;
    display: flex;
    justify-content: space-between;

}
.box1{
    width: 130px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.box2{
    width: 130px;
    height: 30px;
    margin: 10px;
    color: white;
    background-color: rgb(16, 69, 243);
    border-radius: 5px;
    cursor: pointer;
   
}
/*End-Footer*/


/*End-AsideBar*/
/*Study flexbox*/
/*Study Grid*/
