.container {
    height: 100px;
    max-width: 100%;
    display: flex;
    /*Horizontal align*/
    justify-content: space-around;
    /*Vertical align*/
    align-items: center;

}
.logo {
    height: 50px;
    text-align: right;
    flex-grow: 0.5;
}
.nav1 {
    padding: 10px 10px 10px 10px;
    flex-grow: 1;

}
.nav1 .boxtext {
    float: center;
    height: 35px;
    border-radius: 5px;
}
.nav1 .icon1 {
    background-color: rgb(72, 72, 240);
    height: 40px;
    border-radius: 5px;
    position: relative; left: 5px; top: 9px;

}
.nav2 {
    flex-basis: 300px;
    height: 100%;
    text-align: center;
    flex-grow: 0.5;
    
}
.nav2 .icon2 {
    border: 2px solid blue;
    aborder: 1px solid gray;
    float: left;
    height: 40px;
    border-radius: 50px;

}
.nav2 h5 {
    height: 30px;
    aposition: relative; left: 84px; bottom: 38px;

}
.nav2 a {
    float: center;
    aposition: relative; right: 68px; bottom: 55px;
}

.container2 {
    background-color: rgb(250, 244, 244);
    display: flex;
    height: 100px;
    justify-content: center;
}
.head1 {
    width: 30%;
    height: 100px;
    text-align: center;
    
}
.content {
    border: 2px solid blue;
    adisplay: flex;
}
.content1 {
    display: flex;
    max-width: 60%;
    margin-left: 50px;
    justify-content: space-between;
    border: 2px solid rgb(235, 225, 225);
}

/* div="content" */
.table1 {
    width: 100%;
    border-spacing: 0px;
}
.table1 .prod {
    text-align: left;
}
.table1 .top {
    color: rgb(207, 189, 189);
}
.table1 .p1 {
    float: left;
    margin-right: 5px;
}
.table1 .text-p1 {
    text-align: left;
}
.table1 .text2-p1 {
    font-size: small;
    color: rgb(207, 189, 189);
    text-align: left;
}
.table1 td {
    text-align: center;
    padding: 10px 10px 60px 10px;
    border: 2px solid green;
}
.table1 .favorite {
    border: 2px solid blue;
    text-align: right;
}

.box1 {
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

/*Bottom-box*/
.bottom-box {
    border: 2px solid rgb(235, 225, 225);
    max-width: 60%;
    display: flex;
    margin-left: 50px;
    justify-content: space-between;

}
.a1{
    border: 2px solid red;
    margin: 10px;
   

}
.a2{
    border: 2px solid red;
    margin: 10px;
   
}

/*content2*/
.content2 {
    border: 2px solid red;
    width: 35%;
    float: right;
    aposition: relative; bottom: 400px;
    
}

/*resolve red boxes*/
/*resolve red lines*/
/*Study responsive*/