.container {
    abackground-color: rgb(184, 184, 110);
    display: flex;
    height: 100px;
    justify-content: space-between;
}
.logo {
    width: 20%;
    height: 50px;
    text-align: right;
}
.nav1 {
    padding: 10px 10px 10px 10px;

}
.nav1 .boxtext {
    float: left;
    width: 430px;
    height: 30px;
    border-radius: 5px;
}
.nav1 .icon1 {
    width: 7%;
    height: 35px;
    padding: 0px 0px 0px 0px;
    border-radius: 4px;

}
.nav2 {
    width: 30%;
    height: 100%;
    text-align: center;
    
}
.nav2 .icon2 {
    border: 1px solid gray;
    float: left;
    width: 10%;
    height: 40px;
    border-radius: 50px;

}
.nav2 h5 {
    width: 20%;
    height: 30px;
    position: relative; left: 84px; bottom: 38px;

}
.nav2 a {
    float: center;
    padding: 0px 0px 0px 0px;
    position: relative; right: 68px; bottom: 55px;
}

.container2 {
    background-color: rgb(250, 244, 244);
    display: flex;
    height: 100px;
    justify-content: center;
}
.head1 {
    width: 30%;
    height: 100px;
    text-align: center;
    
}

.content1 {
    border: 2px solid blue;
}